
<% if (theme.notice_1){ %>
	<div class="notice1_button cui-shadow-black">
		<i class="material-icons-outlined">notifications_active</i>
	</div>
	<div class="notice1-window cui-shadow-black">
		<%- theme.notice_1.content %>
	</div>
<% } %>