
<% if (theme.notice){ %>
	<div class="notice_button cui-shadow-black">
		<i class="material-icons-outlined">notifications_active</i>
	</div>
	<div class="notice-window cui-shadow-black">
		<%- theme.notice.content %>
	</div>
<% } %>