
<% if (theme.qrcode_1){ %>
	<div class="qrcode1_button cui-shadow-black">
		<i class="material-icons-outlined">qr_code</i>
	</div>
	<div class="qrcode1-window cui-shadow-black">
		<img src="<%- theme.qrcode_1.img %>" />
	</div>
<% } %>