<% if (theme.qrcode){ %>
	<div class="qrcode_button cui-shadow-black">
		<i class="material-icons-outlined">qr_code</i>
	</div>
	<div class="qrcode-window cui-shadow-black">
		<img src="<%- theme.qrcode.img %>" />
	</div>
<% } %>