<div class="widget-wrapper">
<div class="toc-title">
	<span class="material-icons-outlined">notifications_active</span>
	<%- theme.notice_1.title %>
</div>
<div class="toc-notice">
	<%- theme.notice_1.content %>
</div>
</div>