<div class="widget-wrapper">
<div class="toc-title">
	<span class="material-icons-outlined">notifications_active</span>
	<%- theme.notice.title %>
</div>
<div class="toc-notice">
	<%- theme.notice.content %>
</div>
</div>