<div class="widget-wrapper">
	<div class="toc-title">
		<span class="material-icons-outlined">qr_code</span>
		<%- theme.qrcode_1.title %>
	</div>
	<div class="toc-qrcode">
	<img src="<%- theme.qrcode_1.img %>" />
	</div>
</div>